
.upload-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}

.form-container {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.description {
  text-align: justify;
  width: 60%;
  position: relative;
  left: 90px;
  color: rgba(0, 0, 0, 0.6);
}

.left-side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

progress {
  height: 20px;
  width: 200px;
}

.btn-pic {
  background-color: dodgerblue;
}

.input-upload {
  margin-left: 10px;
  border: solid 1px;
  border-color: gray;
  height: 18px;
  border-radius: 3px;
}

.label-upload {
  margin-right: 10px;
}

.upload-file {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.choose {
  display: flex;
  justify-content: center;
}