.show-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pic {
  border-radius: 5px;
}

.pic-watch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.delete {
  background-color: orangered;
}