.picture-card {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.title {
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.sub-pic {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px;
  border-radius: 2px;
  border-color: gray;
  margin-top: -4px;
}

.picture {
  cursor: pointer;
}